* {
    box-sizing: border-box;
}

body {
    background-color: #50514F;
    height: 100vh;
}

.header {
    position: top left;
    font-size: 24px;
    background-color: blue;
    max-height: 500vh;
}

.link {
    color: #17BEBB;
}

.captions {
    color: #FF579F;
}

.song-btn {
    margin: 20px 0px;
    background-color: red;
    color: white;
    font-weight: bold;
}