@import url('https://fonts.googleapis.com/css2?family=Anta&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #8944c2;
    --secondary-color: #5dd479;
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
}