@import url('https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Ctrl-/ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #4B7F52;
    padding-bottom: 50px;
    font-family: "Rubik", sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.hero{
    background-image: url("images/wide-master-chief.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 150vh;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: -1;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 15px;
}

.hero p {
    font-size: 24px;
    letter-spacing: 1.5px;
}

.content h2, .content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #053B06;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.nav {
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    transition: all 0.3s ease-in;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: green;
    text-decoration: none;
    padding: 8px 12px;
    transition: all 0.3s ease-in;
}

.nav.active {
    background-color: #C7D66D;
    box-shadow: 0 4px 12px rgba(128,128,0,0.5);
}

.nav.active a {
    color: black;
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: #9D44B5;
    font-weight: bold;
}