* {
    box-sizing: border-box;
}

body {
    background-color: #BC96E6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
}

.btn {
    background-color: #57A773;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    justify-content: center;
    margin: 1rem;
    border-radius: 18px;
    color: #713E5A;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}